<html ng-app="fantasy">
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
</head>
<body ng-controller="MainController">
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				    <span class="sr-only">Toggle navigation</span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>
				    <span class="icon-bar"></span>				   
      			</button>
      			 <a class="navbar-brand" href="#">Fantasy Football</a>
      			 <form class="form-inline navbar-right">
      			 	<div class="form-group">
      			 		<input placeholder="username">
      			 		<input placeholder="password">
      			 		<button type="submit" class="btn btn-default">Submit</button>
      			 	</div>      			 	
      			 </form>      			 
			</div>
		</div>
	</nav>
	<div class="container-full">
		<div class="row user-page">
			<div class="col-sm-2 col-sm-offset-1 align-center">
				<img class="user-avatar" ng-src="http://placehold.it/175x225">
			</div>
			<div class="col-sm-4">
				<div><h1 class="user-name first-name text-lrg text-white">{{currentUser.firstName}}</h1></div>
				<div><h1 class="user-name text-lrg-thin text-white">{{currentUser.lastName}}</h1></div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 current-team align-center" >
				<div ng-repeat="(key, player) in currentUser.currentTeam" class="current-player text-white">{{key | uppercase}}{{player.name}}{{player.projected}}</div>
			</div>
		</div>
		<div class="row stats-dashboard user-page">
			<div class="col-sm-4">
				<h2 class="user-stats-header text-md-thin text-white">Rank</h2>
				<h2 class="user-stats text-lrg text-gold">35th of 68</h2>
			</div>
			<div class="col-sm-4">
				<h2 class="user-stats-header text-md-thin text-white">Record</h2>
				<h2 class="user-stats text-lrg text-gold">2-1</h2>
			</div>
			<div class="col-sm-4">
				<h2 class="user-stats-header text-md-thin text-white">Notes</h2>
				<h2 class="user-stats text-md-thin text-gold">No New Notes</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 position-toggles">
				<button class="btn btn-primary" ng-click="toggleQB()">QB</button>
				<button class="btn btn-primary" ng-click="toggleRB()">RB</button>
				<button class="btn btn-primary" ng-click="toggleWR()">WR</button>
			</div>
			<table>
				<tbody>
					<th class="player-name-column">Name</th>
					<th class="player-team-column">Team</th>
					<th class="player-stats-column">Projected</th>
					<th class="player-stats-column">Season</th>
				</tbody>
			</table>
			<div class="col-sm-12" ng-repeat="qb in allQB" ng-show="showQB">
				<table class="table table-hover">
				<tbody>
					<tr>
						<td class="player-name-column">{{qb.name}}</td>
						<td class="player-team-column">{{qb.team}}</td>
						<td class="player-stats-column">{{qb.projected}}</td>
						<td class="player-stats-column">{{qb.points.week1}}</td>
						<td>
							<button class="btn btn-success player-buttons" ng-click="addToRoster('qb', qb)">+</button>
							<button class="btn btn-default  player-buttons" ng-click="showNews = !showNews">More</button>							
						</td>
					</tr>
				</tbody>
				</table>
				<div ng-show="showNews">
				<img ng-src="http://placehold.it/95x108">
				{{qb.news}}
				</div>
			</div>
			
			<div class="col-sm-12" ng-repeat="rb in allRB" ng-show="showRB">
				<table class="table table-hover">
					<tbody>
					<tr>
						<td class="player-name-column">{{rb.name}}</td>
						<td class="player-team-column">{{rb.team}}</td>
						<td class="player-stats-column">{{rb.projected}}</td>
						<td class="player-stats-column">{{rb.points.week1}}</td>
						<td>
							<button class="btn btn-success player-buttons" ng-click="addToRoster('rb',rb)">+</button>
							<button class="btn btn-default player-buttons" ng-click="showNews = !showNews">More</button>							
						</td>
					</tr>
				</tbody>
				</table>
				
				
				<div ng-show="showNews">
				<img ng-src="http://placehold.it/95x108">
				{{rb.news}}
				</div>
				
			</div>

			<div class="col-sm-12" ng-repeat="wr in allWR" ng-show="showWR" >
				<table class="table table-hover">
					<tbody>
					<tr>
						<td  ng-class="{ strike : checkForMatch(wr) }" class="player-name-column">{{wr.name}}</td>
						<td class="player-team-column">{{wr.team}}</td>
						<td class="player-stats-column">{{wr.projected}}</td>
						<td class="player-stats-column">{{wr.points.week1}}</td>
						<td>
							<button class="btn btn-success player-buttons" ng-click="addToRoster('wr1',wr)">+</button>
							<button class="btn btn-default player-buttons" ng-click="showNews = !showNews">More</button>							
						</td>
					</tr>
				</tbody>
				</table>
				
				
				<div ng-show="showNews">
				<img ng-src="http://placehold.it/95x108">
				{{wr.news}}
				</div>
				
			</div>
			
	</div>
		
			</div>
		</div>
	</div>
	
	
	<script src="app.js"></script>
</body>
</html>