<html ng-app="fantasy">
<head>
	<title>Fanalytics</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="main.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.4/angular-chart.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-animate.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.4/ui-bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-chart.js/0.8.4/angular-chart.js"></script>


</head>
<body ng-controller="MainController" ng-cloak>
	<div class="header">
		<h1 class="text-blk app-name">Fan</h1><h1 class="text-gold app-name">alytics</h1>
	</div>
	<div class="container-full">
		<div class="row user-page">
			<div class="col-sm-2 col-sm-offset-1 align-center">
				<img class="user-avatar" ng-src="http://placehold.it/175x225">
			</div>
			<div class="col-sm-4">
				<div><h1 class="user-name first-name text-lrg text-white">{{currentUser.firstName}}</h1></div>
				<div><h1 class="user-name text-lrg-thin text-white">{{currentUser.lastName}}</h1></div>
			</div>
			<div class="col-sm-4 col-sm-offset-1 current-team align-center" >
				<div ng-repeat="(key, player) in currentUser.currentTeam" class="current-player text-white">{{key | uppercase}}<span class="text-blk">{{player.name}}</span></div>
			</div>
		</div>
		<div class="row stats-dashboard user-page">
			<div class="col-sm-4">
				<h2 class="user-stats-header text-md-thin text-white">Rank</h2>
				<h2 class="user-stats text-lrg text-gold">35th of 68</h2>
			</div>
			<div class="col-sm-4">
				<h2 class="user-stats-header text-md-thin text-white">Record</h2>
				<h2 class="user-stats text-lrg text-gold">2-1</h2>
			</div>
			<div class="col-sm-4">
				<h2 class="user-stats-header text-md-thin text-white">Notes</h2>
				<h2 class="user-stats text-md-thin text-gold">No New Notes</h2>
			</div>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-sm-12 position-toggles">
				<button class="btn btn-primary" ng-click="toggleQB()">QB</button>
				<button class="btn btn-primary" ng-click="toggleRB()">RB</button>
				<button class="btn btn-primary" ng-click="toggleWR()">WR</button>
				<button class="btn btn-warning text-blk" ng-click="qbFactory.comparePlayers()">COMPARE</button>
			</div>
			<div class="col-sm-12">
				<table class="table">
				<tbody>
				<tr>
					<th class="player-name-column">Name</th>
					<th class="player-team-column">Team</th>
					<th class="player-stats-column">Projected</th>
					<th class="player-stats-column">Season</th>
					<td>
						<div class="spacer"></div>							
					</td>
				</tr>
				</tbody>
			</table>
			</div>
			
			<div class="col-sm-12" ng-repeat="qb in allQB" ng-show="showQB">
				<table class="table">
				<tbody>
					<tr>
						<td class="player-name-column">{{qb.name}}</td>
						<td class="player-team-column">{{qb.team}}</td>
						<td class="player-stats-column">{{qb.projected}}</td>
						<td class="player-stats-column">{{qb.totalPoints}}</td>
						<td>
							<button class="btn btn-success player-buttons" ng-click="addToRoster('qb', qb)">+</button>
							<button class="btn btn-default  player-buttons" ng-click="showNews = !showNews">More</button>	
							<button class="btn btn-warning player-buttons text-blk" ng-click="addToCompare(qb)">C</button>					
						</td>
					</tr>
				</tbody>
				</table>
				<div ng-show="showNews">
					<div class="row">
						<img class="col-sm-2" ng-src="http://placehold.it/95x108">
						<h4>News</h4>
						<div class="player-news col-sm-10">{{qb.news}}</div>
					</div>
					<div class="row player-dashboard">
						<div class="col-sm-4 align-center player-schedule">
							<h4 class="text-gold text-md-thin">Schedule</h4>
							<div ng-repeat="opponent in qb.opponents">
								<table class="table">
									<tbody>
										<tr>
											<td>{{opponent}}</td>
											<td>-15%</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
						<div class="col-sm-4 align-center">
							<div>
								<h4 class="text-gold text-md-thin">This Week</h4>
								<h4 class="text-black text-lrg">33%</h4>
							</div>
							<div>
								<h4 class="text-gold text-md-thin already-used">Already Used</h4>
								<h4 class="text-black text-lrg">15%</h4>
							</div>							
						</div>
						<div class="col-sm-4 align-center align-top" ng-controller="DoughnutCtrl">
							<h4 class="text-gold text-md-thin align-top">Performance vs. Projection</h4>
							<canvas id="doughnut" class="chart chart-doughnut"
  								chart-data="data" chart-labels="labels">
							</canvas> 
						</div>
						<div class="row">
							<div class="col-sm-12 line-graph" ng-controller="LineCtrl">
							<h4 class="text-gold text-md-thin align-center">Performance By Week vs. Average</h4>
								<canvas id="line" class="chart chart-line" chart-data="qb.chart"
  									chart-labels="labels" chart-legend="true" chart-series="series"
  									chart-click="onClick" >
								</canvas> 
							</div>
						</div>

					</div>															
				</div>
			</div>
			
			<div class="col-sm-12" ng-repeat="rb in allRB" ng-show="showRB">
				<table class="table">
				<tbody>
					<tr>
						<td class="player-name-column">{{rb.name}}</td>
						<td class="player-team-column">{{rb.team}}</td>
						<td class="player-stats-column">{{rb.projected}}</td>
						<td class="player-stats-column">{{rb.totalPoints}}</td>
						<td>
							<button class="btn btn-success player-buttons" ng-click="addToRoster('rb', rb)">+</button>
							<button class="btn btn-default  player-buttons" ng-click="showNews = !showNews">More</button>
							<button class="btn btn-warning player-buttons text-blk" ng-click="addToCompare(qb)">C</button>								
						</td>
					</tr>
				</tbody>
				</table>
				<div ng-show="showNews">
					<div class="row">
						<img class="col-sm-2" ng-src="http://placehold.it/95x108">
						<h4>News</h4>
						<div class="player-news col-sm-10">{{rb.news}}</div>
					</div>
					<div class="row player-dashboard">
						<div class="col-sm-4 align-center player-schedule">
							<h4 class="text-gold text-md-thin">Schedule</h4>
							<div ng-repeat="opponent in rb.opponents">
								<table class="table">
									<tbody>
										<tr>
											<td>{{opponent}}</td>
											<td>-15%</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
						<div class="col-sm-4 align-center">
							<div>
								<h4 class="text-gold text-md-thin">This Week</h4>
								<h4 class="text-black text-lrg">33%</h4>
							</div>
							<div>
								<h4 class="text-gold text-md-thin already-used">Already Used</h4>
								<h4 class="text-black text-lrg">15%</h4>
							</div>							
						</div>
						<div class="col-sm-4 align-center align-top" ng-controller="DoughnutCtrl">
							<h4 class="text-gold text-md-thin align-top">Performance vs. Projection</h4>
							<canvas id="doughnut" class="chart chart-doughnut"
  								chart-data="data" chart-labels="labels">
							</canvas> 
						</div>
						<div class="row">
							<div class="col-sm-12 line-graph" ng-controller="LineCtrl">
							<h4 class="text-gold text-md-thin align-center">Performance By Week vs. Average</h4>
								<canvas id="line" class="chart chart-line" chart-data="rb.chart"
  									chart-labels="labels" chart-legend="true" chart-series="series"
  									chart-click="onClick" >
								</canvas> 
							</div>
						</div>

					</div>															
				</div>
			</div>

			<div class="col-sm-12" ng-repeat="wr in allWR" ng-show="showWR">
				<table class="table">
				<tbody>
					<tr>
						<td class="player-name-column">{{wr.name}}</td>
						<td class="player-team-column">{{wr.team}}</td>
						<td class="player-stats-column">{{wr.projected}}</td>
						<td class="player-stats-column">{{wr.totalPoints}}</td>
						<td>
							<button class="btn btn-success player-buttons" ng-click="addToRoster('wr', wr)">+</button>
							<button class="btn btn-default  player-buttons" ng-click="showNews = !showNews">More</button>	
							<button class="btn btn-warning player-buttons text-blk" ng-click="addToCompare(qb)">C</button>						
						</td>
					</tr>
				</tbody>
				</table>
				<div ng-show="showNews">
					<div class="row">
						<img class="col-sm-2" ng-src="http://placehold.it/95x108">
						<h4>News</h4>
						<div class="player-news col-sm-10">{{wr.news}}</div>
					</div>
					<div class="row player-dashboard">
						<div class="col-sm-4 align-center player-schedule">
							<h4 class="text-gold text-md-thin">Schedule</h4>
							<div ng-repeat="opponent in wr.opponents">
								<table class="table">
									<tbody>
										<tr>
											<td>{{opponent}}</td>
											<td>-15%</td>
										</tr>
									</tbody>
								</table>
							</div>
							
						</div>
						<div class="col-sm-4 align-center">
							<div>
								<h4 class="text-gold text-md-thin">This Week</h4>
								<h4 class="text-black text-lrg">33%</h4>
							</div>
							<div>
								<h4 class="text-gold text-md-thin already-used">Already Used</h4>
								<h4 class="text-black text-lrg">15%</h4>
							</div>							
						</div>
						<div class="col-sm-4 align-center align-top" ng-controller="DoughnutCtrl">
							<h4 class="text-gold text-md-thin align-top">Performance vs. Projection</h4>
							<canvas id="doughnut" class="chart chart-doughnut"
  								chart-data="data" chart-labels="labels">
							</canvas> 
						</div>
						<div class="row">
							<div class="col-sm-12 line-graph" ng-controller="LineCtrl">
							<h4 class="text-gold text-md-thin align-center">Performance By Week vs. Average</h4>
								<canvas id="line" class="chart chart-line" chart-data="wr.chart"
  									chart-labels="labels" chart-legend="true" chart-series="series"
  									chart-click="onClick" >
								</canvas> 
							</div>
						</div>

					</div>															
				</div>
			</div>
		</div>
	</div>
	<!-- <div class="align-center col-sm-12" >
		<div ng-show="confirmChange" class="roster-change-window">
			<h1 text>Add:</h1>
			<span>{{playerToAdd}}</span>
			<h1>Drop:</h1>
			<span ng-repeat="player in currentUser.currentTeam">
				{{player.name}}
			</span>
			<button>Confirm</button>
		</div>
	</div> -->
	<div ng-show="showCompare" class="roster-change-window" ng-controller="LineCtrl">
		<canvas id="line" class="chart chart-line" chart-data="wr.chart"
  			chart-labels="labels" chart-legend="true" chart-series="series"
  			chart-click="onClick" >
		</canvas> 
	</div>
	<script src="app.js"></script>
</body>
</html>