#navbarTest {
	margin-left: 130px;
}

#formTest {
	float: right;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.user-page {
	background-color: #222;
}

.user-avatar {
	margin-top: 50px;
}

.current-team {
	margin-top: 50px;
	background-color: #EB862E;
	height: 225px;
}

.current-player {
	color: #222;
	margin-top: 7px;
}

/* NAVBAR */

.navbar-default {
	border-radius: 0;
	border: none;
	border-bottom: 3px solid #EB862E;
	margin-bottom: 0;
	background-color: white;
}

.navbar-brand {
	margin-left: 130px;
}

/* FONTS */

.text-lrg{
	font-size: 40px;
	font-weight: bold;
	margin-bottom: 0;
}

.text-lrg-thin{
	font-size: 40px;
	font-weight: lighter;
	margin-top: 5px;
}

.text-md-thin{
	font-size: 32px;
	font-weight: lighter;
}

.text-white{
	color: white;
}

.text-blk {
	color: #222;
}

.text-gold{
	color: #EB862E;
}

.first-name{
	margin-top: 50px;
}

.user-name{
}

.user-stats-header{
	margin-top: 50px;
}

.user-stats{
	margin-bottom: 25px;
}



/* BORDERS */

.border-right {
	border-right: 1px solid black;
}

/* ALIGNMENT */

.align-top {
	vertical-align: top;
}

.align-center {
	text-align: center;
}

/* TABLES */

.player-name-column {
	width: 30%;
	text-align: left;
}

.player-team-column {
	width: 25%;
	text-align: left;
}

.player-stats-column {
	width: 12.5%;
	text-align: center;
}

.player-news {
	display: inline-block;
}

/* STRIKEOUT */

.strike {
    text-decoration: line-through;
}

.stats-dashboard {
	text-align: center;
}

.position-toggles {
	margin: 25px 0;
}

.player-buttons {
	float: right;
}

.roster-change-window {
	height: 500px;
	margin: 0 auto;
	width: 500px;
	background-color: #999;
	position: relative;
	bottom: 500px;
}

.btn {
	border-radius: 0;
}

.player-dashboard {
	margin-top: 25px;
}

.already-used {
	margin-top: 50px;
}

.line-graph {
	margin: 50px 0 75px 0;
}

